* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	font-family: 'Roboto', 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #849d8f;
	color: #ffffff;
}

.container {
	margin: 0 auto;
	min-width: 900px;
	max-width: 1200px;
	padding: 0 27px;
}

.hide {
	display: none;
}

h2 {
	font-size: 35px;
	padding: 0;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

.wrapper {
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.wrapper::before,
.wrapper::after {
	content: "";
	visibility: hidden;
}

.wrapper::before,
.wrapper::after {
	background-image: url("../img/ice_cream2.png");
}

.wrapper::after {
	background-image: url("../img/ice_cream3.png");
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.header-right {
	width: 280px;
	float: right;
	margin-top: 23px;
	font-size: 0px;
}
.header-right-top {
	min-width: 260px;
	float: right;
	font-size: 0px;
}
.header-seacrh {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-bottom: 4px;
}
.header-seacrh a {
	display: block;
	padding: 16px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 16px;
}
.search:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
	position: absolute;
	top: 7px;
	left: 8px;
	background-image: url("../img/mini_img_all.png");
	background-repeat: no-repeat;
	background-position: -131px -7px;
}
.header-seacrh__form {
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	border-radius: 5px;
	background: #f8f7f4;
	z-index: 10;
	box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}
.header-seacrh__form input[type="text"] {
	width: 100%;
	padding: 6px 10px;
	border: none;
	box-shadow: 0 0 0 1px #d3d3d2;
	border-radius: 5px;
	color: #999999;
	font-weight: 400;
	line-height: 24px;
}
.header-seacrh__form input[type="text"]:hover,
.header-login__form input[type="text"]:hover,
.header-login__form input[type="password"]:hover {
	box-shadow: inset 0 0 0 2px #d3d3d2;
}
.header-seacrh__form input[type="text"]:focus,
.header-login__form input[type="text"]:focus,
.header-login__form input[type="password"]:focus {
	box-shadow: 0 0 0 2px #8fbdec;
}

.header-seacrh:hover .header-seacrh__form{
	display: block;
}
.search_block_form {
	display: block;
	width: 342px;
	padding: 15px;
	font-size: 14px;
	position: relative;
}
.header-seacrh a:hover {
	color: #323232;
	background-color: #f8f7f4;	
}
.search:hover::before {
	background-image: url("../img/mini_img_all.png"); 
	background-repeat: no-repeat;
	background-position: -109px -7px; 
}
.header-login {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-left: 10px;
	font-size: 14px;
	line-height: 14px;
	padding-bottom: 4px;	
}
.header-login > a {
	display: block;
	background-color: rgba(255,255,255,0.2);
	padding: 9px 16px;
	border-radius: 16px;
	padding-left: 44px;
}
.header-login > a:hover {
	color: #323232;
	background-color: #f8f7f4;
}
.header-login__link:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 19px;
	position: absolute;
	top: 6px;
	left: 16px;
	background-image: url("../img/mini_img_all.png");
	background-repeat: no-repeat;
	background-position: -135px -29px;
}
.login:hover::before {
	background-image: url("../img/mini_img_all.png"); 
	background-repeat: no-repeat;
	background-position:  -109px -29px;
}
.header-login__form {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 10;
	display: none;
	border-radius: 5px;
	background: #f8f7f4;
	box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
}

.header-login__form input[type="text"] {
	width: 100%;
	padding: 6px 15px;
	border: none;
	box-shadow: 0 0 0 1px #d3d3d2;
	border-radius: 5px;
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 10px;
}

.header-login__form input[type="password"] {
	width: 100%;
	padding: 6px 15px;
	border: none;
	box-shadow: 0 0 0 1px #d3d3d2;
	border-radius: 5px;
	color: #999999;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 15px;
}

.header-login:hover .header-login__form{
	display: block;
}
.user_block_form {
	display: inline-block;
	vertical-align: middle;
	width: 272px;
	padding: 15px;
	font-size: 14px;
	padding-top: 20px;
}
.user_block_form .btn {
	border: none;
	padding: 5px 30px;
	font-size: 15px;
	line-height: 24px;
	font-weight: 700;
	display: block;
	width: 102px;
}
.links {
	width: 120px;
	display: inline-block;
	vertical-align: middle;
}
.enter {
	width: 100px;
	display: inline-block;
	margin-right: 18px;
	vertical-align: middle;
}
.links a {
	
	color: #333333;
	font-size: 13px;
	line-height: 24px;
	text-decoration: none;
	position: relative;

}
.forgot_password {
	width: 101px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.new_registration {
	width: 119px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.new_registration:hover,
.forgot_password:hover {
	border-bottom: 1px solid rgba(236,89,60,0.3);
}
.new_registration:active,
.forgot_password:active {
	border-bottom: 1px solid rgba(236,89,60,0.3);
}
.links a:hover {
	color: #ec593c;
}
.links a:active {
	color: #ec593c;
}
.header-basket {
	display: inline-block;
	vertical-align:top;
	font-size: 14px;
	line-height: 14px;
	margin-left: 10px;
	position: relative;
	padding-bottom: 4px;
}
.header-basket a {
	display: block;
	background-color: rgba(255,255,255,0.2);
	padding: 9px 0 9px 44px;
	border-radius: 16px;
	min-width: 117px;
}
.header-basket > a:hover {
	color: #323232;
	background-color: #f8f7f4;
}
.header-basket__link {
	color: #fff;
	background-color: #f8f7f4;
	text-decoration: none;
}
.header-basket__link.active {
	color: #313131;
	background-color: #ffffff;
}

.basket:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 20px;
	position: absolute;
	top: 6px;
	left: 16px;
	background-image: url("../img/mini_img_all.png");
	background-repeat: no-repeat;
	background-position: -161px -53px;
}
.header-basket__link::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 20px;
	position: absolute;
	top: 6px;
	left: 16px;
	background-image: url("../img/mini_img_all.png"); 
	background-repeat: no-repeat;
	background-position: -135px -53px; 
}
.basket_i:hover:before {
	background-image: url("../img/mini_img_all.png");
	background-repeat: no-repeat;
	background-position: -109px -53px;
}

.form_basket {
	position: absolute;
	top: 100%;
	right: -1px;
	z-index: 10;
	display: none;
	min-width: 510px;
	padding: 20px 15px;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 400;
	color: #333333;
	background: #f8f7f4;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}
.header-basket:hover .form_basket {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.form_table td {
	padding-bottom: 15px;
}
.form_table td:nth-of-type(1) {
	width: 12px;
	padding-right: 14px;
}
.form_table td:nth-of-type(2) {
	width: 33px;
	padding-right: 14px;
}
.form_table td:nth-of-type(3) {
	width: 245px; 
}
.form_table td:nth-of-type(4) {
	width: 122px;
}
.form_table td:nth-of-type(5) {
	width: 68px;
}

.btn_delete a {
	display: block;
	width: 15px;
	height: 15px;
	padding-top: 5px;
	position: relative;
}
.close_basket {
	position: relative;
	top: 6px;
	right: 0px;
	width: 12px;
	height: 12px;
	font-size: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	position: relative;
}
.close_basket::before,
.close_basket::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 14px;
	height: 1px;
	background-color: #000000;
	border-radius: 1px;
}
.close_basket::before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.close_basket::after {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	        transform: rotate(-45deg);
}
.total_trice {
	margin-top: 10px;
	margin-right: 11px;
	margin-bottom: 12px;
	padding-top: 10px;
	font-size: 15px;
	font-weight: 900;
	border-top: 1px solid #7f7f7f;
	text-align: right;
}
.checkout .btn_checkout {
	position: relative;
	left: 0;
	bottom: 0;
	text-align: right;
	padding: 5px 21px 6px 23px;
	font-size: 15px;
	line-height: 24px;
	width: 162px;
	display: inline-block;
	vertical-align: top;
}
.checkout{
	text-align: right;
}

.search a, .header-login__link, .basket a {
	opacity: 1;
}

.header-login__link, .basket {
	color: #ffffff;
	text-decoration: none;
}

.graph_phone {
	min-width: 200px;
	padding: 16px 0 0 10px;
	color: #ffffff;
	font-size: 0;
	float: right;
}
.graph {
	float: right;
	font-size: 14px;
	line-height: 14px;
}
.phone {
	float: right;
	font-size: 22px;
	font-weight: 700;
	line-height: 1em;
	padding-top: 6px;
}
.top-menu {
	width: 380px;
	float: left;
	margin-top: 23px;
}
.header-logo {
	float: left;
	width: 155px;
	margin-right: 10px;
	position: relative;
	top: 10px;
	left: -6px;
}
.top-menu__list {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.top-menu__list > li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-right: 2px;
	padding-bottom: 5px;
}
.top-menu__list .active {
	border-radius: 16px;
	background: #d07058;
	color: #ffffff;
	border: none;
}
.main_menu::after {
	content: "";
	position: absolute;
	height: 1px;
	left: 13px;
	right: 13px;
	top: 25px;
	background-color: rgba(255,255,255,0.4);
}
.top-menu__list a{
	display: block;
	color: #ffffff;
	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
	vertical-align: top;
	padding: 8px 13px;
	border-radius: 16px;
}
.top-menu__list a:hover {
	color: #333333;
	background: #f7f6f3;
}
.top-menu__list a:active {
	color: #333333;
	background: #f7f6f3;
	box-shadow: inset 0 2px 2px 1px #888888;
}
li:hover .sub-menu {
	display: block;
}

.top-menu__list .sub-menu {
	position: absolute;
	z-index: 10;
	top: 100%;
	left: -7px;
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
	border-radius: 7px;
	box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
	background: #f8f7f4;
}
.sub-menu {
	border-radius: 7px;
}
.sub-menu li {
	width: 144px;
	display: inline-block;
	vertical-align: middle;
}
.sub-menu a {
	color: #343434;
	font-size: 14px;
	font-weight: 400;
	display: block;
	margin: 0; 
	border-radius: 0px;
	padding: 0;
	padding: 10px 0;
	padding-left: 20px;
	line-height: 1;
}
.sub-menu a:hover{
	overflow: inherit;
	background: #fbded7;
}
.sub-menu a:active {
	background-color: #f6b5a5;
	box-shadow: none;
}
a.bdr {
	font-weight: 700;
}
a.bdr::after {
	content: "";
	position: absolute;
	height: 1px;
	top: 33px;
	left: 6px;
	right: 9px;
	background-color: rgba(53,53,53,0.2); 
	padding: 0;
}
.sub-menu__item:first-child a:hover,
.sub-menu__item:first-child a:active {
	border-radius: 7px 7px 0 0;
}
.sub-menu__item:last-child a:hover,
.sub-menu__item:last-child a:active {
	border-radius: 0 0 7px 7px;
}



.slider {
	position: relative;
	padding-top: 270px;
	text-align: center;
	color: #ffffff;
}
.slide {
	display: none;
}
.text_slide {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	line-height: 60px;
	font-weight: 800;
	font-size: 60px;
}
.btn_slide {
	display: inline-block;
	padding: 12px 50px;

	font-weight: 600;
	font-size: 31px;
	line-height: 41px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64); 
}
.btn_slide:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn_slide:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider_controls {
	position: absolute;
	bottom: 19px;
	left: 3px;
	z-index: 20;
	font-size: 0;
}
.slider_controls label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
.slider_controls label:hover {
	background-color: rgba(255,255,255,0.4);
}
#green_1:checked ~ .wrapper #slide_green_1,
#violet_2:checked ~ .wrapper #slide_violet_2,
#brown_3:checked ~ .wrapper #slide_brown_3 {
	display: block;
}
#green_1:checked ~ .wrapper {
	background-color: #849d8f;
	background-image: url("../img/ice_cream1.png");
}
#violet_2:checked ~ .wrapper {
	background-color: #8996a6;
	background-image: url("../img/ice_cream2.png");
}
#brown_3:checked ~ .wrapper {
	background-color: #9d8b84;
	background-image: url("../img/ice_cream3.png");
}
#green_1:checked ~ .wrapper label[for="green_1"],
#violet_2:checked ~ .wrapper label[for="violet_2"],
#brown_3:checked ~ .wrapper label[for="brown_3"] {
	background-color: #ffffff;
}
.main_slide {
	position: relative;
}
.free_container {
	margin: 40px 0;
	font-size: 0;
	padding: 0;
}
.block_free {
	display: inline-block;
	vertical-align: top;
	width: 48.8%;
	margin-right: 2.2%;
	border-radius: 10px;
	min-height: 230px;
	font-size: 0;
	background-repeat: no-repeat;
	position: relative;
}
.block_free h2 {
	line-height: 35px;
	margin: 0;
	margin-bottom: 18px;
}
.block_free p {
	font-size: 18px;
	margin: 0;
	margin-bottom: 5px;
}
.block_free:nth-child(2n) {
	margin-right: 0;
}
.raspberry_free {
	background: url("../img/crimson_background.png") no-repeat 100% 100%;
	color: #ffffff;
	padding: 20px 20px 70px;
	background-position: center center;
	background-size: cover;
}
.chocolate_free {
	background: url("../img/chocolate_background.png") no-repeat 100% 100%;
	color: #ffffff;
	padding: 20px 20px 70px;
	background-position: center center;
	background-size: cover;
}
.btn {
	display: inline-block;
	font-weight: 600;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	background: #f26843;
	background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.btn:hover {
	background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn:active {
	background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.block_free .btn {
	position: absolute;
	padding: 5px 24px;
	bottom: 20px;
	right: 20px;
	font-size: 18px;
	line-height: 36px;
}

.catalog_container {
	margin-bottom: 40px;
	font-size: 0px;
}
.catalog_item {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	width: 23.3%;
	margin-right: 2.2%;
	position: relative;
	border-radius: 10px;
	text-align: center;
	position: relative;
}
.catalog_item:nth-child(4n) {
	margin-right: 0; 
}
.catalog_price {
	position: absolute;
	display: block;
	font-size: 45px;
	line-height: 13px;
	font-weight: 700;
	color: #ffffff;
	bottom: 30px;
}
.catalog_price span {
	font-size: 30px
}
.catalog_title {
	text-align: center;
	
	position: relative;
	display: inline;
	border-bottom: 1px solid rgba(255,255,255,.2);
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.catalog_item .btn{
	position: relative;
	padding: 5px 24px;
	font-size: 15px;
	line-height: 24px;
	right: 0;
	bottom: 0;
	font-weight: 700;
}
.catalog_item:nth-child(n+5) {
	margin-top: 40px;
}
.hit::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 61px;
	height: 61px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url("../img/mini_img_all.png") no-repeat -229px -90px;
	background-repeat: no-repeat;
}
.catalog_item:hover .additional {
	display: block;	
}
.additional {
	position:absolute;
	right:0;
	bottom:-55px;
	left:0;
	display:none;
	text-align:center
}

.catalog_item::before {
	content: "";
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -80px;
	background-color: rgba(255,255,255,0.3);
	display: none;
	border-radius: 5px;
}
.catalog_title:active, .catalog_title:hover {
	color:#ec593c;
	border-bottom:1px solid rgba(236,89,60,.3)
}
.catalog_item:hover::before {
	display: block;
}
.catalog_preview {
	position: relative;
	margin-bottom: 10px;
}
.catalog_preview:hover {
	z-index: 12;
}

.additional a,.catalog_item .catalog_btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.catalog_item:hover .additional,
.catalog_item:hover.catalog_item::before {
	display: block;
}
.additional,
.catalog_item::before,
.catalog_item:hover .catalog_item,
.catalog_price,
.catalog_title {
	z-index: 10;
}
.catalog_item:hover .catalog_preview {
	z-index: 11;
}
.catalog_item:hover .catalog_title {
	z-index: 12;
}
.about_company {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 40px;
	font-size: 0;
	padding: 0 20px;
	color: #323232;
	background-image: url("../img/background_SEO.png");
	border-radius: 10px;
	min-height: 306px;
}
.block_info {
	display: inline-block;
	vertical-align: top;
	width: 48.8%;
	margin-right: 2.2%;
	padding-bottom: 23px;
	padding-left: 57px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	position: relative;
}
.block_info::before {
	content: "";
	display: block;
	width: 49px;
	height: 49px;
	position: absolute;
	top: -13px;
	left: 0;
	background-image: url("../img/mini_img_all.png");
	background-repeat: no-repeat;
}
.mini_ice_cream::before {
	background-position: -114px -80px;
}
.cow::before {
	background-position: -168px -80px;
}
.leaflet::before {
	background-position: -60px -80px;
}
.thermometer::before {
	background-position: -7px -80px;
}
.about_company h3 {
	padding-top: 27px;
	padding-bottom: 23px;
}
.block_info:nth-child(2n+1) {
	margin-right: 0;
}

.news_delivery {
	margin-bottom: 40px;
	font-size: 0;
	padding: 0;
}
.block_n_d {
	display: inline-block;
	vertical-align: top;
	width: 48.8%;
	margin-right: 2.2%;
	border-radius: 10px;
	min-height: 220px;
	font-size: 0;
	background-repeat: no-repeat;
	padding: 0 20px;
	position: relative;
}
.block_n_d:nth-child(2n) {
	margin-right: 0;
}
.news {
	color: #353535;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	background: url("../img/strawberry_background.png") no-repeat 100% 100%;
}
.news_text {
	font-weight: 400;
	color: #5a5a5a;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 5px;
}
.link_news {
	max-width: 300px;
	line-height: 30px;
}

.link_news a {
	text-decoration: none;
	border-bottom: 2px solid #353535;
	font-size: 24px;
	color: #353535;
	font-weight: 700;
	line-height: 22px;
}
.link_news a:hover, .link_news a:active {
	color: #ec593c;
	border-bottom: 2px solid #ec593c; 
}
.delivery_text {
	font-weight: 400;
	color: #5a5a5a;
	margin: 0;
	padding-top: 8px;
	padding-bottom: 40px;
	font-size: 16px;
	line-height: 22px;
}
.delivery {
	display: inline-block;
	vertical-align: top;
	width: 48.8%;
	border-radius: 10px;
	min-height: 220px;
	padding: 5px 5px;
	
	padding-left: 26px;
	background-image: repeating-linear-gradient(
	-45deg,
	#f8f7f4 0px,
	#f8f7f4 5px,
	#92cdff 5px,
	#92cdff 10px,
	#f8f7f4 10px,
	#f8f7f4 15px,
	#fe9e90 15px,
	#fe9e90 20px
	);
}
.delivery_block {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	padding: 20px 20px;
	border-radius: 10px;
	background: #f8f7f4;
	color: #5a5a5a;
}
.email_block .btn {
	padding: 10px 20px;
	font-size: 17px;
	line-height: 24px;
	border: none;
	position: absolute;
	right: -141px;
	top: -1px;
	display: block;
}
.email_field {
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #999999;
	padding: 9px 0 9px 10px;
	width: 100%;
	margin-right: 10px;
	border: none;
	box-shadow: 0 0 0 1px #d3d3d2;
}
.email_block {
	margin-right: 145px;
	position: relative;
}
.subscription {
	position: relative;
}

.email_field:hover {
	box-shadow: inset 0 0 0 2px #d3d3d2;
}
.email_field:focus {
	outline: none;
	box-shadow: inset 0 0 0 2px #8fbdec;
}

.email_label {
	display: block;
	position: absolute;
	transition: top 0.7s ease, opacity 0.7s ease;
	opacity: 0;
	color: #999;
	font-size: 16px;
	top: 11px;
	left: 11px;
	width: 100%;
}
.email_field:valid + .email_label {
	top: -20px;
	opacity: 0;
	font-size: 14px;
	color: #9a9a9a;
}
.email_field:not(:placeholder-shown) + .email_label {
	top: -20px;
	opacity: 0;
	font-size: 14px;
	color: #9a9a9a;
}
.email_field:focus + .email_label {
	top: -20px;
	opacity: 1;
	font-size: 11px;
	color: #8fbdec;
	font-weight: 400;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 50;
	display: none;
	width: 478px;
	min-height: 442px;
	padding: 20px 25px;
	margin-top:-150px;
	margin-left:-235px;
	color: #343434;
	background: #f8f7f4;
	border-radius: 10px;
}
.modal-content__close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 18px;
	height: 18px;
	font-size: 0;
	background: #f8f7f4;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.modal-content__close::before,
.modal-content__close::after {
	content: "";
	position: absolute;
	top: 8px;
	left: -4px;
	width: 25px;
	height: 2px;
	background-color: #000000;
	border-radius: 1px;
}
.modal-content__close::before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.modal-content__close::after {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	        transform: rotate(-45deg);
}
.modal-content h3 {
	margin: 0;
	margin-bottom: 20px;
	padding:0;
	font-size:24px;
	line-height:22px;
}
.feedback_form, .control {
	position: relative;
}
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content textarea {
	width: 265px;
	margin: 0;
	margin-bottom: 20px;
	padding: 9px 15px;
	font-size: 16px;
	line-height: 24px;
	color: #656565;
	font-weight: 400;
	background-color: #ffffff;
	border: none;
	box-shadow: 0 0 0 1px #d3d3d2;
	outline: none;
	border-radius: 5px;
}
.modal-content input[type="text"]:hover,
.modal-content input[type="email"]:hover,
.modal-content textarea:hover {
	box-shadow: inset 0 0 0 2px #d3d3d2;
}

.modal-content input[type="email"]:focus,
.modal-content input[type="text"]:focus,
.modal-content textarea:focus {
	box-shadow: inset 0 0 0 2px #8fbdec;
}

.modal-content textarea {
	width: 426px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.modal-content input[type="email"] + label,
.modal-content input[type="text"] + label,
.modal-content textarea + label {
	display: block;
	position: absolute;
	top: -10px;
	left: 16px;
	transition:top .7s ease,opacity .7s ease;
	opacity: 0;
	font-size: 13px;
	font-weight: 400;
	color: #353535;
}
.modal-content input[type="email"]:valid + label,
.modal-content input[type="text"]:valid + label,
.modal-content textarea:valid + label {
	color: #8fbdec;
	font-size: 11px;
	font-weight: 400;
}
.modal-content input[type="email"]:focus + label,
.modal-content input[type="text"]:focus + label,
.modal-content textarea:focus + label {
	opacity:1;
	top:-20px;
	font-weight:400;
	color: #8fbdec;

}
.feedback_form .btn {
	border: none;
	padding: 10px 26px;
	font-size: 17px;
	line-height: 24px;
	position: absolute;
	right: 0px;
	bottom: -55px;
	display: block;
	width: 140px;
}	

.modal-shadow {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 40;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-show {
	display: block;
}

.modal_overlay_show {
	display: block;
}

.modal_content_show {
	display:block;
}
.map_block {
	display: block;
}
.map_wrapper {
	position: relative;
	overflow: visible;
	/*margin-bottom: 36px;*/
}
.map_container {
	position: relative;;
	right: 0;
	float: right;
	z-index: 10;
	width: 300px;
	min-height: 305px;
	margin: 60px 0 60px;
	padding: 30px 25px;
	background-color: #ffffff;
	color: #343434;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.map_container span {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
.map_container p {
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	line-height: 1.5;
}
.map_container .btn {
	display: block;
	padding: 10px 25px;
	font-size: 17px;
	line-height: 24px;
	margin-top: 28px;
	text-align: center;
	letter-spacing: .5px;
}
.map {
	position: absolute;
	bottom: 0;
	overflow: visible;
	width: 100%;
	min-height: 430px;
	margin: 0 auto;
	text-align: center;
}
.main-footer {
	padding: 10px 0 23px 0;
	min-height: 80px;
	font-size: 0;
}
.footer-social {
	float: left;
	min-width: 186px;
	margin-top: 31px;
	margin-left: 2px;
}
.social-btn {
	display: inline-block;
	width: 31px;
	height: 31px;
	opacity: 0.5;
	margin-right: 18px;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
}
.social_btn_tw {
	background-image: url("../img/twitter.svg");
	background-repeat:  no-repeat;
	opacity: 0.8;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5), 0 0 0 3px rgba(255,255,255,0.5);
	margin-left: 3px;	
}
.social_btn_ig {
	background-image: url("../img/instagram.svg");
	background-repeat:  no-repeat;
	opacity: 0.8;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5), 0 0 0 3px rgba(255,255,255,0.5);
}
.social_btn_fb {
	background-image: url("../img/facebook.svg");
	background-repeat:  no-repeat;
	opacity: 0.8;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5), 0 0 0 3px rgba(255,255,255,0.5);
}
.social_btn_vk {
	background-image: url("../img/vk.svg");
	background-repeat:  no-repeat;
	opacity: 0.8;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5), 0 0 0 3px rgba(255,255,255,0.5);
}
.social_btn:hover {
	opacity: 0.98;
	box-shadow: inset 0 0 0 4px rgba(255,255,255,0.71), 0 0 0 4px rgba(255,255,255,0.71);
}
.social_btn:active {
	opacity: 0.8;
	box-shadow: inset 0 2px 2px 1px #888888,
				0 0 0 4px rgba(255,255,255,0.7);
}
.htmlacademy {
	font-size: 12px;
	font-weight: 400;
}
.htmlacademy a {
	text-decoration: none;
	color: #fefefe;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.htmlacademy a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(249,172,159,0.3);
}	
.footer-center {
	width: 340px;
	margin: 0 auto;
	font-size: 0px;
	padding: 0 0;
	vertical-align: top;
	position: relative;
}
.footer-menu1 .heart::before {
	content: "";
	display: block;
	width: 15px;
	height: 13px;
	position: absolute;
	top: 2px;
	left: -24px;
	background-image: url("../img/mini_img.png");
	background-repeat: no-repeat;
	background-position: -157px -27px;
}
.footer-menu1 .heart {
	font-weight: 700;
}
.footer-menu1 {
	width: 115px;
	float: left;
	margin-right: 28px;
	position: relative;
	margin-top: 30px;
	margin-left: 22px;
}
.footer-menu2 {
	width: 165px;
	float: left;
	margin-top: 30px;
}
.center {
	margin-top: -1px;
}
.center a {
	list-style: none;
	font-weight: 400;
	color: #ffffff;
	font-size: 13px;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	line-height: 14px;
}
.center a:hover {
	color: #ffbc9e;
}
.center a::after {
	content: "";
	position: absolute;
	height: 1px;
	right: 0;
	bottom: -2px;
	left: 0;
	background-color: rgba(230, 235, 233, 0.4);
}
.center a:hover::after {
	background-color: rgba(249, 172, 159, 0.3);
}
.footer-logo {
	float: right;
	min-width: 190px;
	font-size: 16px;
	margin-top: 12px;
}

.active::after {
	display: none;
}
.sub-menu .active_list {
	background: #d07058;
}
.block_breadcrumbs {
	margin-bottom: 5px;
}
.breadcrumbs {
	margin: 0;
	padding: 0;
	font-size: 14px;
	list-style: none;
	font-weight: 400;
	margin-top: -20px;
}
.breadcrumbs li {
	position: relative;
	display: inline;
	padding-right: 20px;
}
.breadcrumbs a {
	color: #ffffff;
	text-decoration: none;
	position: relative;
}
.breadcrumbs a::before {
	content: "";
	position: absolute;
	height: 1px;
	top: 16px;
	left: 0;
	right: 0;
	background-color: rgba(253,254,254,0.4);
}
.breadcrumbs a:hover {
	color: #ffbc9e;
}
.breadcrumbs a:hover::before {
	background-color: rgba(249,172,159,0.3);
}

.breadcrumbs li:not(:last-child)::after {
	content: ">>";
	position: absolute;
	top: -2px;
	right: 5px;
	-webkit-transform: scale(0.5, 1);
	   -moz-transform: scale(0.5, 1);
	        transform: scale(0.5, 1);
}

.container_filter {
	margin-bottom: 40px;
}
.container_filter h1 {
	font-size: 35px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	margin-bottom: 33px;
}

.container_filter h4 {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	margin-left: 15px;
	line-height: 1em;	
}

.block_sorting_1 {
	margin-bottom: 16px;
}

.sorting {
	float: left;
	font-size: 14px;
	width: 194px;
	margin-right: 14px;
}
.popularity {
	position: relative;
	width: 194px;
	overflow: hidden;
	border-radius: 18px; 
	font-size: 16px;
	font-weight: 500;	
}
.popylar {
	width: 130%;
	height: 36px;
	padding: 7px 15px;
	color: #ffffff;
	border-radius: 18px;
	text-indent: 0.01px;
	text-overflow: '';
	background-color: rgba(248,247,244,0.2);
	border: none;
	-webkit-appearance: none;
	   -moz-appearance: none;	
}
.popylar:hover {
	color: #343434;
	background: #ffffff;
}
.popularity option {
	color: #343434;
	background-color: rgb(255,255,255);
	border: none;
}

.popularity::after {
	content: '';
	display: block;
	border: 4px solid transparent;
	border-top: 5px solid #ffffff;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -2.5px;
}
.popularity:hover::after {
	content: '';
	display: block;
	border: 4px solid transparent;
	border-top: 5px solid #333333;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -2.5px;
}
.range_filter {
	float: left;
	width: 218px;
	margin-right: 14px;
}
.range_controls {
	position: relative;
	width: 218px;
	
	margin-bottom: 0;
	padding: 16px;
	
	border-radius: 20px;
	background: rgba(255,255,255,0.2);
}
.range_controls .scale {
	height: 4px;
	background: rgba(255,255,255,0.5);
}
.range_controls .bar {
	height: 4px;
	background: #ffffff;
	margin-left: 20%;
	width: 50%;
}
.range_controls .toggle {
	position: absolute;
	top: 8px;
	left: 0px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
	cursor: pointer;
}
.range_controls .min_toggle {
	left: 35px;
}
.range_controls .max_toggle {
	left: 132px;
}
.range_controls .toggle:hover {
	box-shadow: 0 0 0 1px #ffffff,
				0 2px 2px 0 rgba(0,0,0,0.1);
}

.container_fatness {
	float: left;
	width: 417px;
	margin: 0;
	padding: 0;
}

.block_fatness input[type="radio"] {
	display: none;
}
.block_fatness {
	background-color: rgba(255,255,255,0.2);
	border-radius: 18px;
	padding: 7px 15px;
}
.container_fatness label {
	font-size: 16px;
	font-weight: 500;
	padding-right: 18px;
	padding-left: 29px;
	position: relative;
}
.container_fatness label:nth-child(8n) {
	padding-right: 0;
}
.block_fatness label::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	border: 1px solid #f8f7f4;
	border-radius: 50%;
}
.container_fatness input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	background: #f8f7f4;
	border-radius: 50%;
}
.block_fatness label:hover::before {
	border: 2px solid #f8f7f4;
	border-radius: 50%;
}
.container_filler {
	float: left;
	margin: 0;
	padding: 0;
	width: 702px;
}
.block_filler input[type="checkbox"] {
	display: none;
}
.block_filler {
	background-color: rgba(255,255,255,0.2);
	border-radius: 18px;
	padding: 7px 15px;
}

.container_filler label {
	font-size: 16px;
	font-weight: 500;
	padding-right: 20px;
	padding-left: 30px;
	position: relative;
}
.container_filler label:nth-child(10n) {
	padding-right: 0;
}	
.block_filler label::before {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	border: 1px solid #f8f7f4;
	border-radius: 5px;

}
.container_filler input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 11px;
	height: 7px;
	border-left: 2px solid #f8f7f4;
	border-bottom: 2px solid #f8f7f4;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	        transform: rotate(-45deg);

}
.block_filler label:hover::before {
	
	border: 2px solid #f8f7f4;
	border-radius: 5px;
}
.button {
	float: left;
	width: 144px;
	margin-top: 22px;
	margin-left: 14px;
	color: black;
}
.button .btn_button {
	display: inline-block;
	padding: 7px 31px;
	font-weight: 500;
	font-size: 16px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: none;
	border: none;
	background-color: rgba(251,252,251,0.2);
	border-radius: 18px;
	box-shadow: inset 0 0 0 2px #fbfcfb;
}
.button .btn_button:hover {
	background-color: rgb(251,252,251);
	color: #363636;
}
.button .btn_button:active {
	background-color: #eaeaea;
	color: #363636;
	box-shadow: inset 0 2px 2px 1px #696969;
}
.pagination_container {
	margin-top: 84px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.pagination {
	float: right;
	min-width: 188px;
	padding: 0;
	font-size: 0;
	position: relative;
}
.pagination ul {
	padding: 0;
	margin: 0;
}
.pagination li {
	display: inline;
	text-align: center;
}
.pagination .page {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	color: #ffffff;
	font-size: 16px;
	line-height: 16px;
	padding-top: 5px;
	text-decoration: none;
	margin-left: 3px;
}
.pagination .page:hover {
	background-color: rgba(248,247,244,0.2);
}
.pagination .page:active {
	color: #333333;
	background-color: #ffffff;
}
.pagination .prev {
	display: inline-block;
	width: 9px;
	height: 14px;
	background-image: url("../img/mini_img_all.png");
	background-repeat: no-repeat;
	background-position: -192px -56px;
	margin-right: 12px;
	margin-left: 0;
	vertical-align: middle;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
}
.pagination .next {
	display: inline-block;
	width: 9px;
	height: 14px;
	background-image: url("../img/mini_img_all.png");
	background-repeat: no-repeat;
	background-position: -154px -8px;
	margin-left: 12px;
	vertical-align: middle;
}
.pagination .active{
	background-color: #ffffff;
	color: #353535;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
}
.disabled {
	opacity: 0.2;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
